@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  height: 100%;
}
body {
	line-height: 1;
  font-size: 14px;
  background-color: var(--second);
  height: 100%;
  font-family: 'Bebas Neue', cursive;
  overflow-y: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#root {
  height: 100%;
  box-sizing: border-box;
}
:root {
  --first: #fde994;
  --second: #f5dd7b;  
  --third: #d9b650; 
  --fourth: #83580b; 
}

h1 {
  margin: 0.7em;
  margin-bottom: 1.5em;
}

h3 {
  font-size: 1.5em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 9vh;
  background-color: var(--third);
  color: black;
  border-bottom: 2px solid black;
}

.homePage {
  position: relative;
  display: flex;
  height: 91vh;
  justify-content: center;
  align-items: center;
  /* background-color: var(--third); */
  overflow: hidden;
  font-size: 4em;
}

.nav-links {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5px;
  justify-content: space-around;
  font-size: 1.1em;
  align-items: center;
  list-style: none;
}

.shopList {
  margin: 1em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  justify-content: center;
  align-items: flex-start;
}

.itemBox {
  color: var(--fourth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  opacity: 0.80;
}

.itemName {
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  font-size: 2em;
  transition: font-size 0.75s;
}

.itemPrice {
  font-size: 1.1em;
  font-weight:lighter;
  transition: font-size 0.75s;
}

.itemBox:hover {
  opacity: 1;
}

img.itemBoxImage {
  width: 75%;
  border: 2px solid black;
  transition: width 0.75s;
}

.itemBox:hover img.itemBoxImage {
  box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.4);
  width: 85%;
}

.itemBox:hover .itemName {
  font-size: 2.15em;
}

.itemBox:hover .itemPrice {
  font-size: 1.2em;
}

.notImg {
  position: relative;
  margin-top: 0.65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  font-size: 1.15em;
}

.movieTitle {
  font-size: 2em;
  max-width: 65%;
}

.moviePrice {
  font-size: 1.85em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ItemDetail, .imageHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 0.5rem;
}

.imageHolder {
  padding: 0;
}

.enterCenter {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left:0;
  right:0;
  top: 50%;
  margin-left: auto; 
  margin-right: auto; 
  padding: 0 0.3em;
}

.aboveEnter {
  margin: 10px;
  font-size: 0.7em;
}

.aboveEnterAuthor {
  margin: 10px;
  font-size: 0.4em;
}

.enter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-size: 0.85em;
}

.enter:hover .L {
  animation: shimmyL 0.5s infinite;
  animation-direction: alternate;
}

.enter:hover .R {
  animation: shimmyR 0.5s infinite;
  animation-direction: alternate;
}

.addCounter {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  height: 72px;
}

.addCounter > button {
  box-sizing: border-box;
  border: 2px solid var(--fourth);
  background-color: var(--third);
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.counterBtn {
  height: 100%;
}

.cartBackground {
  height: 91vh;
  padding: 1.4rem;
  background-image: url('./goldflower.jpg');
  background-repeat: no-repeat;
}

.filledCartText, .emptyCartText {
  font-size: 2.5em;
}

img.cartImage {
  width: 65%;
  border: 2px solid black;
}

.filledCart, .cartTotal {
  margin-top: 1rem;
}

.filledCart {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filledCart > div {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5px 0px;
}

.filledCart > hr {
  margin-top: 0.75rem;
  border: 1px solid black;
  width: 95%;
  opacity: 0.75;
}

.cartPic {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.cartName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.cartTextHolder {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: var(--second);
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.emptyCartIcon {
  animation: cartColor 1s infinite;
  animation-direction: alternate;
}

.tiltCart {
  font-size: 3em;
  animation: tilt 1s infinite;
  animation-direction: alternate;
}


@keyframes cartColor {
  from {color: black;}
  to {color: red;}
}

@keyframes tilt {
  0% {
    transform: rotate(-30deg);   
  }
  100% {
   transform: rotate(30deg);   
  }
}

.backShopDiv {
  font-size: 2.25em;
}

.cartNotImgInfo {
  padding-top: 7.5px;
  font-size: 1.25em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 50vw;
  justify-content: flex-start;
  align-items: center;
}

.cartEachButtons {
  height: 100%;
}

.numberInput > button, .numberInput > input {
  max-height: 28px;
}
/* figure out how to make sure these +/- buttons 
stay a CONSISTENT size, and look relatively square*/
.cartTotal {
  font-size: 1.5em;
}


input[type="number"] {
  height: 100%;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border: 2px solid var(--fourth);
  display:inline-block;
  text-align:center;
  background-color: var(--second);
  box-sizing: border-box;
  font-weight: 800;
  font-family: 'Bebas Neue', cursive;
  border-left: 0;
  border-right: 0;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.numberInput {
  display: inline-flex;
  text-align:center;
  height: 100%;
}

.numberInput,
.numberInput * {
  box-sizing: border-box;
}

.numberInput button {
  outline:none;
  -webkit-appearance: none;
  background-color: #eeeeee;
  border: 2px solid var(--fourth);
  background-color: var(--third);
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding:0;
}

@keyframes shimmyL {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(5px, 0);
  }
}

@keyframes shimmyR {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(-5px, 0px);
  }
}

.arrows {
  font-size: 0.5em; 
}

img.movieImage {
  width: 100%;
  border: 2px solid black;
}

img.homeImg {
  min-height:100%;
}

a:link, a:visited {
  color: var(--fourth);
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: hotpink;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--third);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fourth);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* when screen gets bigger, change: 
  img.movieImage

*/

@media screen and (min-width: 450px) {
  body {
    font-size: 15px;
  }
  h3 {
    font-size: 1.65em;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    align-items: center;
  }
  .shopList {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(6, 20%);
  }
  .movieTitle {
    max-width: 80%;
  }
}

@media screen and (min-width: 975px) {
  body {
    font-size: 17px;
  }
  .shopList {
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: repeat(2, 45%);
    row-gap: 2vh;
    height:85vh;
    margin: 0;
    margin-top: 3vh;
  }
  .movieTitle {
    max-width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .shopList {
    grid-template-rows: repeat(2, calc(45% + 4vw));
    row-gap: calc(3vh + 1vw);
  }
}